* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inria Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #151515;
}

.home {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./assets/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 42px;
}

.logo {
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-weight: 600;
}


.nav-link li {
    display: inline;
    padding: 16px;
    font-size: 16px;
}

.nav-link li a {
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-weight: 700;
}

.nav-link li a:hover {
    color: #6785BB;
    transition: 0.3s;
}

.wellcome {
    text-align: center;
    margin-top: 90px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.wellcome h1 {
    font-size: 32px;
    color: #fff;
}

.wellcome h2 {
    color: #fff;
    font-size: 42px;
    margin-top: 16px;
    margin-bottom: 42px;
}

.wellcome a {
    padding: 10px 16px;
    border-radius: 10px;
    background-color: #6785BB;
    border: none;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: 900;
    text-decoration: none;
}

.wellcome a:hover {
    background-color: #a3a2a2;
    transition: 0.3s;
}

/*ABOUT*/

.about {
    margin-top: 50px;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
}

.about-tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 80px;
    border-bottom: 0, 5px solid #151515;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding-bottom: 120px;
    margin-bottom: 100px;
    color: #fff;
}


.image-perfil {
    width: 500px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.tec-list {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    list-style-type: none;
}

.tec-list li {
    filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.4));
}

.tec-list li:hover {
    transform: scale(1.2);
    transition: 0.2s;
}

.image-tec {
    width: 48px;
    height: 48px;
    border-radius: 10px;
}

.text {
    display: flex;
    flex-direction: column;
}

.text h3 {
    margin-top: 2px;
    font-size: 16px;
    font-weight: bold;
}

.text p {
    margin-top: 16px;
}

.button-social {
    display: inline-block;
    margin: 10px;
    width: 120px;
    height: 42px;
    padding: 10px;
    background-color: #6785BB;
    border-radius: 10px;
    margin-top: 32px;
    text-decoration: none;
    color: #151515;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button-social:hover {
    background-color: #a3a2a2;
    transition: 0.3s;
    transform: scale(1.1);
}

.button-social img {
    width: 15px;
    align-items: center;
}

/*Projects*/

.projects{
    color: #fff;
}

.card-section {
    text-align: center;
    height: auto;
    margin-top: 100px;
    padding: 0 100px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 52px;
    align-items: center;
    justify-content: center;
    padding: 0 80px;
    border-bottom: 0, 5px solid #151515;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding-bottom: 120px;
    margin-bottom: 100px;

}

.card {
    background-color: #c5c5c5;
    width: 250px;
    height: 330px;
    border-radius: 10px;
    margin: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.card-content img {
    width: 55px;
    margin-top: 32px;
    margin: 16px;
    filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.4));
}

.card-content p {
    padding: 4px 20px;
    text-align: center;
    font-size: 12px;
}

.card-content h5 {
    padding: 8px;
    text-align: center;
}

.card-content a {
    margin-top: 14px;
    width: 100px;
    height: 35px;
    background-color: #6785BB;
    padding: 10px 0;
    text-decoration: none;
    color: #151515;
    font-size: 13px;
    border-radius: 10px;
    font-weight: bolder;
    filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.4));
}

.card-content a:hover {
    background-color: #a3a2a2;
    transition: 0.3s;
}

/*Footer*/

.footer {
    display: flex;
    justify-content: center;
}

.footer-container ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-container ul li {
    margin: 0 16px;
    margin-bottom: 42px;
}

.footer-container img {
    width: 32px;
    cursor: pointer;
    align-items: baseline;
}

.footer-container img:hover {
    transform: scale(1.2);
    transition: 0.3s;
}


/*Responsive mobile */

@media (max-width: 768px) {

    .about {
        height: auto;
        padding: 0 50px;
    }

    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 24px;
    }

    .image-perfil {
        margin-bottom: 20px;
        width: 250px;
        height: 250px;
    }

    .box {
        max-width: 90%;
    }

    .tec-list {
        display: inline-flex;
        justify-content: center;

        margin-top: 24px;
    }

    .tec-list li {
        margin-right: 10px;
    }

    .button-social {
        display: inline-block;
        margin-bottom: 16px;

    }

    .card-section {
        padding: 0;
    }

    .button-social {
        margin: 16px;
    }
}

@media (max-width: 480px) {

    .navegacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px;
    }

    .nav-link {
        display: flex;
        margin-top: 10px;
    }

    .wellcome {
        text-align: center;
        padding: 16px 24px;
    }


    @media (max-width: 768px) {
        .nav-link li {
            display: inline-block;
            margin-right: 10px;
        }
    }

}